#window-scroll {
	width: 50%;
	height: 250px;
	position: absolute;
	left: 25%;
	margin: 0px auto;
	overflow: hidden;
	border-radius: 15px;
	-moz-border-radius: 15px;
	background: white;
}

#filler {
	height: 5000px;
	background: #D3D3D3;
}

#green {
	width: 200px;
	height: 200px;
	background: rgba(0,255,0,0.5);
	position: relative;
	margin: 0px auto;
	top: 25px;
	opacity: 1;
}