#window-scroll {
	width: 50%;
	height: 250px;
	position: absolute;
	left: 25%;
	margin: 0px auto;
	background: white;
	overflow: hidden;
}

#filler {
	height: 4000px;
	background: black;
}

#green {
	width: 200px;
	height: 200px;
	background: rgba(0,255,0,0.5);
	position: relative;
	margin: 0px auto;
	top: 25px;
	opacity: 1;
}