body {
	background: black;
}

.window {
	width: 500px;
	height: 500px;
	background: white;
	margin: 0px auto;
}

.box {
	width: 200px;
	height: 200px;
	background: rgba(255,0,0,0.5);
	position: absolute;
	left: 50%;
	top: 250px;
	margin-left: -100px;
	margin-top: -100px;
	opacity: 0;
}

.animate {
	-webkit-animation: slide 5s;
	-moz-animation: slide 5s;
}

@-webkit-keyframes slide {

	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

@-moz-keyframes slide {

	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}