body {
	background: #D3D3D3;
}

h1 {
	color: #696969;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#window-slide {
	width: 50%;
	height: 250px;
	margin: 0px auto;
	background: white;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

#red {
	width: 200px;
	height: 200px;
	background: rgba(255,0,0,0.5);
	position: absolute;
	left: 50%;
	top: 205px;
	margin-left: -100px;
	margin-top: -100px;
	opacity: 1;
}

#buttons {
	text-align: center;
}

.redslideoutleft {
	-webkit-animation: redslideoutleft 2s;
	-moz-animation: redslideoutleft 2s;
	-o-animation: redslideoutleft 2s;
	-ms-animation: redslideoutleft 2s;
}

@-webkit-keyframes redslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

@-moz-keyframes redslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

@-o-keyframes redslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

@-ms-keyframes redslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

.redslideinleft {
	-webkit-animation: redslideinleft 2s;
	-moz-animation: redslideinleft 2s;
	-o-animation: redslideinleft 2s;
	-ms-animation: redslideinleft 2s;
}

@-webkit-keyframes redslideinleft {

	0% {
		opacity: 0;
		left: 75%;
		
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-moz-keyframes redslideinleft {

	0% {
		opacity: 0;
		left: 75%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-o-keyframes redslideinleft {

	0% {
		opacity: 0;
		left: 75%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-ms-keyframes redslideinleft {

	0% {
		opacity: 0;
		left: 75%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

.redslideoutright {
	-webkit-animation: redslideoutright 2s;
	-moz-animation: redslideoutright 2s;
	-o-animation: redslideoutright 2s;
	-ms-animation: redslideoutright 2s;
}

@-webkit-keyframes redslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}

@-moz-keyframes redslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}

@-o-keyframes redslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}

@-ms-keyframes redslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}

.redslideinright {
	-webkit-animation: redslideinright 2s;
	-moz-animation: redslideinright 2s;
	-o-animation: redslideinright 2s;
	-ms-animation: redslideinright 2s;
}

@-webkit-keyframes redslideinright {

	0% {
		opacity: 0;
		left: 25%;
		
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-moz-keyframes redslideinright {

	0% {
		opacity: 0;
		left: 25%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-o-keyframes redslideinright {

	0% {
		opacity: 0;
		left: 25%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-ms-keyframes redslideinright {

	0% {
		opacity: 0;
		left: 25%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

#blue {
	width: 200px;
	height: 200px;
	background: rgba(0,0,255,0.5);
	position: absolute;
	left: 75%;
	top: 205px;
	margin-left: -100px;
	margin-top: -100px;
	opacity: 0;
}

.blueslideinleft {
	-webkit-animation: blueslideinleft 2s;
	-moz-animation: blueslideinleft 2s;
	-o-animation: blueslideinleft 2s;
	-ms-animation: blueslideinleft 2s;
}

@-webkit-keyframes blueslideinleft {

	0% {
		opacity: 0;
		left: 75%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-moz-keyframes blueslideinleft {

	0% {
		opacity: 0;
		left: 75%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-o-keyframes blueslideinleft {

	0% {
		opacity: 0;
		left: 75%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-ms-keyframes blueslideinleft {

	0% {
		opacity: 0;
		left: 75%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

.blueslideoutleft {
	-webkit-animation: blueslideoutleft 2s;
	-moz-animation: blueslideoutleft 2s;
	-o-animation: blueslideoutleft 2s;
	-ms-animation: blueslideoutleft 2s;
}

@-webkit-keyframes blueslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

@-moz-keyframes blueslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

@-o-keyframes blueslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

@-ms-keyframes blueslideoutleft {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 25%;
	}
}

.blueslideinright {
	-webkit-animation: blueslideinright 2s;
	-moz-animation: blueslideinright 2s;
	-o-animation: blueslideinright 2s;
	-ms-animation: blueslideinright 2s;
}

@-webkit-keyframes blueslideinright {

	0% {
		opacity: 0;
		left: 25%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-moz-keyframes blueslideinright {

	0% {
		opacity: 0;
		left: 25%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-o-keyframes blueslideinright {

	0% {
		opacity: 0;
		left: 25%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

@-ms-keyframes blueslideinright {

	0% {
		opacity: 0;
		left: 25%;
	}
	
	100% {
		opacity: 1;
		left: 50%;
	}
}

.blueslideoutright {
	-webkit-animation: blueslideoutright 2s;
	-moz-animation: blueslideoutright 2s;
	-o-animation: blueslideoutright 2s;
	-ms-animation: blueslideoutright 2s;
}

@-webkit-keyframes blueslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}

@-moz-keyframes blueslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}

@-o-keyframes blueslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}

@-ms-keyframes blueslideoutright {

	0% {
		opacity: 1;
		left: 50%;
	}
	
	100% {
		opacity: 0;
		left: 75%;
	}
}